{% extends 'BMTNews_App/base.html' %}
{% load bootstrap3 %}


{% block title %}Контакты{% endblock %}
{% block content %}
    <div class="card" id="id_main">
        <div class="card-body" >
            <div class="card-title"><h1>Контакты</h1></div>
            <div class="card-text">
            <p>Если у Вас есть пожелания или предложения по улучшению сайта, либо Вы желаете предложить статью к
                публикации
                на сайте, то Вы можете сделать это, воспользовавшись контактной формой:</p>
            </div>
                <form id="contact_form" action="{% url 'contacts' %}" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                {% buttons %}
                    <button type="submit" class="btn btn-outline-primary">Отправить</button>
                {% endbuttons %}
            </form>
        </div>
    </div>
{% endblock %}