{% extends 'BMTNews_App/base.html' %}
{% load staticfiles %}

{% block title %}Авторизация{% endblock %}

{% block content %}
    <div id="id_login" class="card">
        <div class="card-body">
        <h2>Вход</h2>
            <form method="post" action="{% url 'login' %}" class="validForm">
                {% csrf_token %}
                <div id="id_login_form">{{ form.as_p }}</div>
                {% if form.errors %}
                    <div class="error"></div>
                {% endif %}
                <input id="id_login-input" type="submit" name="sign_in" class="btn btn-outline-success"
                       value="Войти"/>
            </form>
        </div>
    </div>
{% endblock %}

{##}
{#{% extends "BMTNews_App/base.html" %}#}
{##}
{#{% block content %}#}
{##}
{#    {% if form.errors %}#}
{#        <p>Your username and password didn't match. Please try again.</p>#}
{#    {% endif %}#}
{##}
{#    {% if next %}#}
{#        {% if user.is_authenticated %}#}
{#            <p>Your account doesn't have access to this page. To proceed,#}
{#                please login with an account that has access.</p>#}
{#        {% else %}#}
{#            <p>Please login to see this page.</p>#}
{#        {% endif %}#}
{#    {% endif %}#}
{##}
{#    <form method="post" action="{% url 'login' %}">#}
{#        {% csrf_token %}#}
{##}
{#        <div>#}
{#            <td>{{ form.username.label_tag }}</td>#}
{#            <td>{{ form.username }}</td>#}
{#        </div>#}
{#        <div>#}
{#            <td>{{ form.password.label_tag }}</td>#}
{#            <td>{{ form.password }}</td>#}
{#        </div>#}
{##}
{#        <div>#}
{#            <input type="submit" value="login"/>#}
{#            <input type="hidden" name="next" value="{{ next }}"/>#}
{#        </div>#}
{#    </form>#}
{##}
{# Assumes you setup the password_reset view in your URLconf #}
{#    <p><a href="{% url 'password_reset' %}">Lost password?</a></p>#}
{##}
{#{% endblock %}#}