{% extends 'BMTNews_App/base.html' %}
{% load staticfiles %}

{% block content %}
    {% if posts %}
        {% for post in posts %}
            <div class="card" id="id_main">
                <div class="card-body">
                    <h4 class="card-title">{{ post.post_title }}</h4>
                    <p>{{ post.post_content }}</p>
                    <a href="{% url 'post' post.id %}" id="id_details" class="btn btn-outline-primary">Подробнее &rarr;
                    </a>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <div class="card" id="id_main">
            <div class="card-body">
                <p class="card-text">Не найдено публикаций по вашему запросу<br>Попробуйте повторить запрос с другой
                    формулировкой</p>
            </div>
        </div>
    {% endif %}
    <div class="card" id="id_main">
        <div class="card-body">
            {% load bootstrap4 %}
            {% bootstrap_pagination posts url=last_question %}
        </div>
    </div>
{% endblock %}