<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
<div class="header">
    <header id="id_header">
        <nav class="navbar navbar-expand-lg bg-lightest-blue" id="id_navbar">
            <a class="logotype" title="НОВОСТИ БМТ" href="{% url "index" %}">
                <img src="/static/img/bmt_gold.png" alt="adsa" width="50px" height="50px">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fas fa-bars"></i>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="btn btn-outline-secondary" href="{% url "posts" %}">Блог</a>
                    </li>
                    <li class="nav-item">
                        <a class="btn btn-outline-secondary" href="{% url "forum" %}">Форум</a>
                    </li>
                    <li class="nav-item">
                        <a class="btn btn-outline-secondary" href="{% url "contacts" %}">Обратная связь</a>
                    </li>
                    {% if user.is_authenticated %}
                        <div class="custom-control custom-toggle my-2">
                            <input type="checkbox" id="customToggle1" name="customToggle1" class="custom-control-input"
                                    {% if user.is_subscribed %}
                                   checked
                                    {% else %}
                                    {% endif %}
                            >
                            <label class="custom-control-label" for="customToggle1">Подписаться на новости</label>
                        </div>
                    {% endif %}
                    <input hidden="true" id="user_id_el" value="{{ user.id }}"/>
                </ul>
                <div id="auth">
                    {% if user.is_authenticated %}
                        {{ user.get_username }}
                        <a id="id_sign_out" href="{% url "logout" %}" class="btn btn-outline-danger">Выход</a>
                    {% else %}
                        <a href="{% url "signup" %}" id="id_sign_up"
                           class="btn btn-outline-success">Зарегистрироваться</a>
                        <a href="{% url "login" %}" id="id_sign_in" class="btn btn-outline-success">Войти</a>
                    {% endif %}
                </div>
                <form action="{% url "search" %}" class="form-inline my-2 my-lg-0" id="id_search" method="get">
                    <input id="search" class="form-control mr-sm-2" type="text" placeholder="Поиск" aria-label="Search"
                           name="q">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Поиск</button>
                </form>
            </div>
        </nav>
    </header>
</div>
<div id="id_content">
    {% block content %}

    {% endblock %}
</div>
</body>
{# LINKS#}
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" href="{% static "Shards-2.1.0/css/shards.min.css" %}">
<link rel="stylesheet" href="{% static "style.css" %}">

{#SCRIPTS#}
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<script src="{% static "Shards-2.1.0/js/shards.min.js" %}"></script>
<script src="{% static "js/main.js" %}"></script>
</html>