{% extends 'BMTNews_App/base.html' %}
{% load staticfiles %}

{% block content %}
    <div class="card" id="id_main_info">
        <div class="card-body">
            <div class="card-title">О нас</div>
            <div class="card-text">Государственное Автономное Профессиональное Образовательное Учреждение «Бугульминский
                машиностроительный техникум» организован Министерством химического и нефтяного машиностроения СССР
                (приказ № 94 от 23 июня 1989 г.). Основой создания машиностроительного техникума стала потребность в
                руководителях среднего звена для предприятий и организаций юго-востока Татарстана. На сегодняшний день
                «БМТ» - единственное образовательное учреждение города, которое готовит востребованных специалистов
                машиностроительной отрасли. Высокий статусный рейтинг поддерживается не только уникальностью
                машиностроительного техникума, но и тем, что сотни наших выпускников сегодня работают на всех важнейших
                градообразующих предприятиях. Многие из выпускников являются ведущими специалистами и руководителями
                предприятий города. Только в ОАО Татнефть в настоящее время работают свыше четырехсот выпускников
                техникума.
            </div>
        </div>
    </div>
{% endblock %}
