{% extends 'BMTNews_App/base.html' %}
{% load staticfiles %}
{% load cloudinary %}

{% block title %}Главная{% endblock %}

{% block content %}
    <div class="row" style="border-bottom: none; margin-left: 2%; margin-bottom: 0; margin-right: 0; height: 6.5rem">
        <div class="card" style="margin-right: 1%; margin-top: 1%; width: 30rem; height: 5rem">
            <div class="card-body" style="padding: 20px">
                <h3 class="card-title" style="margin-bottom: 0">Последняя новость</h3>
            </div>
        </div>
        <div class="card" style="margin: 1%; width: 50rem; height: 5rem">
            <div class="card-body" style="padding: 20px">
                <a href="{% url "feed" %}">
                    <h3 id="id_title" class="card-title" style="margin-bottom: 0">Свежие новости</h3>
                </a>
            </div>
        </div>
    </div>
    <div id="id_main_page">
        <div class="row" style="margin-left: 2%; border-bottom: none; height: 20rem; margin-right: 0">
            <div class="card" id="id_last_news">
                <a href="{% url "news" last_news.id %}" id="id_a_card">
                    <img class="card-img-top" src="https://res.cloudinary.com/hxgbvvl4r/image/upload/v1559416509/{{ last_news.news_img }}"
                         alt="{{ last_news.news_title }}">
                    <div class="card-body">
                        <h4 class="card-title">{{ last_news.news_title }}</h4>
                    </div>
                </a>
                <div class="card-footer">
                    {{ last_news.news_date }}
                </div>
            </div>
            <div class="card" id="id_last_news_list">
                <div class="card-body">
                    {% for n in last_news_list|dictsortreversed:"news_date" %}
                        <a href="{% url "news" n.id %}">
                            <div style="border-bottom-width: 2px;border-bottom-style: solid; border-color: lightgray">
                                <h4 id="id_title" style="text-align: left" id="id_section">{{ n.news_title }}</h4>
                                <p style="margin-bottom: 1%">{{ n.news_date }}</p>
                            </div>
                        </a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
