{% extends 'BMTNews_App/base.html' %}
{% load staticfiles %}
{% load bootstrap3 %}

{% block title %}Новости - {{ news.news_title }}{% endblock %}

{% block content %}
    <div class="card" id="id_article_card">
        <div class="card-body">
            <h3 class="card-title">{{ news.news_title }}</h3>
            <div class="news_img">
                <img src="https://res.cloudinary.com/hxgbvvl4r/image/upload/v1559416509/{{ news.news_img }}" alt="{{ news.news_title }}"
                     style="width:700px;
                            align-content: center;">
            </div>
            <p></p>
            <p class="card-text">{{ news.news_text|safe }}</p>
        </div>
        <div class="card-footer">
            {{ news.news_date }}
        </div>
    </div>
{% endblock %}
